.header {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  align-items: center;
  margin-bottom: 320px;
}
.logo {
  font-weight: 900;
  font-size: 36px;
}
.social__list {
  display: flex;
}
.social__item {
  margin-right: 30px;
}
.social__icon {
  width: 25px;
  fill: #414c63;
  transition: fill .3s;
}
.social__icon:hover {
  fill: #fff;
  transition: fill .3s;
  }
