.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 60px;
}
.logo {
  font-weight: 900;
  font-size: 36px;
  margin-right: 90px;
}
.social {
  margin-right: -30px;
  margin-left: 90px;
}
.social__list {
  display: flex;
}
.social__item {
  margin-right: 30px;
}
.social__icon {
  width: 25px;
  fill: #414c63;
  transition: fill .3s;
}
.social__icon:hover {
  fill: #fff;
  transition: fill .3s;
  }
