.parallax {
  position: relative;
}
.hero_back {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 200vh;
  width: 100%;
}
.budda {
  position: absolute;
  bottom: 374px;
  height: 200vh;
  width: 100%;
}
