.works {
  height: 100vh;
}
.works__title {
  font-size: 36px;
  font-weight: 700;
  color: #414c63;
  margin-bottom: 90px;
  margin-left: 64px;
  @include phones {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
