@mixin desktopHd() {
  @media screen and (max-width: $bp-desktop-hd) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (max-width: $bp-desktop),(max-width: 1790px) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: $bp-tablets),(max-width: 1199px) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $bp-phones),(max-width: 767px;) {
    @content;
  }
}

@mixin phonesMin() {
  @media screen and (max-width: 330px) {
    @content;
  }
}