script(type="text/x-template")#reviews-container
  .reviews__cont
    controls(
      @prev="previous",
      @next="next"
    )
  
    flickity(ref="flickity" :options="flickityOptions").reviews__inner
      .reviews__item(v-for="review in reviews" :key="review.id")
        .reviews__text
          +icon('quote', 'reviews__text-icon')  
          .reviews__desc {{review.text}}
        .author
          .author__photo
            img(:src="review.photo").author__photo-pic
          .author__desc
            .author__name {{review.author}}
            .author__proff {{review.post}}


script(type="text/x-template")#reviews-controls
  .reviews__btn
    button(type="button" @click.prevent="$emit('prev')").arrow__left_round
      +icon('arrow-down', 'arrow__left-icon')  
    button(type="button" @click.prevent="$emit('next')").arrow__right_round
      +icon('arrow-down', 'arrow__right-icon') 