section.aboutMe
  .container.aboutMe_container
    .aboutMe__content
      .aboutMe__photo
        img(src= require("images/content/me.jpg"), class="aboutMe__pic")
      .aboutMe__info
        table.table
          tr.table__row
            td.table___cell_left Проживаю:
            td.table___cell Екатеринбург
          tr.table__row
            td.table___cell_left Возраст:
            td.table___cell 27 лет
          tr.table__row
            td.table___cell_left Родилась:
            td.table___cell 15 ноября 1991
    .aboutMe__text
      h2.title Привет, меня зовут  
      .aboutMe__text-name Елена Тарабукина
      .aboutMe__text-content Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .aboutMe__text-note Этот сайт, я сделала в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока  посмотрите  как тут все классно и красиво!