.skills__block
  .skills__block-title Front-end
  .skills__row
    .skills__item
      .skills__name HTML5
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -125s", stroke="url(#gradient)").circle.circle__above
        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
    .skills__item
      .skills__name CSS3
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -15s", stroke="url(#gradient)").circle.circle__above
    .skills__item
      .skills__name JavaScript
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -75s", stroke="url(#gradient)").circle.circle__above
    .skills__item
      .skills__name Vue.js
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -25s", stroke="url(#gradient)").circle.circle__above
  .skills__block-title Workflow
  .skills__row 
    .skills__item
      .skills__name GIT
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -15s", stroke="url(#gradient)").circle.circle__above
    .skills__item
      .skills__name Terminal
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -25s", stroke="url(#gradient)").circle.circle__above
    .skills__item
      .skills__name Gulp
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -50s", stroke="url(#gradient)").circle.circle__above
    .skills__item
      .skills__name Webpack  
      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
        circle(cx="50", cy="50", r="40").circle.circle__under
        circle(cx="50", cy="50", r="40", style="animation-delay: -40s", stroke="url(#gradient)").circle.circle__above