footer.footer
  .container.footer__container
    .copyrights
      .copyrights__col
        .copyrights__year <p class="copy_symbol">©</p> 2019
      .copyrights__col
        .copyrights__col-name
          .copyrights__name Елена Тарабукина
          .copyrights__text Личный сайт веб-разработчика
    .footer__content
      include nav
      +nav('footer')
      .footer__content-desc
        .footer__col
          .footer__content-text Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
          include social
          +social('footer')
        .footer__col.footer__col_padding
          .quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете.
          .quote__autor Martin Golding