mixin nav(mod)
  nav(class='nav nav--' + mod)
    ul(class ='nav__list nav__list--' + mod)
      li.nav__item
        a(href="#").nav__link Главная
      li.nav__item
        a(href="#aboutMe").nav__link Обо мне
      li.nav__item
        a(href="#skills").nav__link Навыки
      li.nav__item
        a(href="#works").nav__link Работы
      li.nav__item
        a(href="#reviews").nav__link Отзывы
      li.nav__item
        a(href="#contacts").nav__link Связаться