mixin nav(mod)
  nav(class='nav nav--' + mod)
    ul.nav__list
      li.nav__item
        a(href="#").nav__link Главная
      li.nav__item
        a(href="#").nav__link Обо мне
      li.nav__item
        a(href="#").nav__link Навыки
      li.nav__item
        a(href="#").nav__link Работы
      li.nav__item
        a(href="#").nav__link Отзывы
      li.nav__item
        a(href="#").nav__link Связаться