section.skills
  img(src=require("images/content/backpack.png"), class="skills__pic") 
  .container.skills__container
    h2.title.skills_title Чем я могу быть полезна вам
    .skills__text Этот сайт я сделала в рамках обучения в Школе онлайн образования  Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите как тут все классно и красиво!
    #skills-component